/*
colors: #efdcd8 , #ed7564 , #d8d8d8 , #696969 , #b8bb99 , #676a51
fonts: bröd: ubuntu ; PT serif headlines
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}


body {
    font-family: 'PT Serif', serif;
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
    color: #d8d8d8;
    width: 100%;
    padding: 1rem;
    position: relative;

    a {
        font-family:'raleway', sans-serif;
        color: #696969;
        cursor: pointer;
    }
    a:hover {
        color:#ed7564;
    }
}

    .nav-container {
        border: 1px solid black;
        width: 100%;
        left: 0;
        top: 0;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        position: fixed;
        z-index: 3;
    }

        .navbar {
            margin-top: 20px;
        }
    

        ul li{
            display: inline-block;
            padding:10px;
            
        }
            ul li a {
            font-size:20px;
            }
        
                ul li a:hover{
                    
                    }

    .introduction {
        border: 1px solid black;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        h1 {
            font-size: 9rem;
            letter-spacing: 2px;
            position: relative;
            display: block;
            margin: 0 auto;
            text-shadow: 0 2px 5px black;                   
        }

            .text-line {
                display: inline;
                box-shadow: inset 0 -0.5em 0 rgb(103, 106, 81);
                border-bottom: 5px double black;
            }

            .serif {
                font-family: 'PT Serif', serif;
                font-weight: 400;
                font-size: 5rem;
            }

        .jenny-text {
            border: 1px solid black;
            max-width: 50%;

            p {
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                color: #676A51;
                margin: 1rem 0;
            }
        }

        .jenny {
            border: 1px solid black;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            bottom: 9rem;

                img {
                    border: 1px solid black;
                }

                .arrow {
                    text-decoration: none;
                    border: 1px solid black;
                    font-size: 10rem;
                    font-weight: 900;
                    left: 2rem;
                    z-index: 2;
                    bottom: 1.5rem;
                    position: relative;

                        :hover {
                            bottom: 2rem;
                        }
                }

        }

    }
            
    .about {
            padding: 4rem 2rem 2rem 2rem;
            border: 1px solid black;
            background-color: #676a51;
            height: 100vh;

            h3 {
                text-align: right;
                margin:0 0 1rem 0;
                font-size: 3rem;
                text-shadow: 0 2px 5px black;                   
                position: relative;
                display: block;
            }
            .text-line {
                display: inline;
                box-shadow: inset 0 -0.5em 0 rgb(239, 220, 216); 
                border-bottom: 5px double black;

            }
            
            p {
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 2rem;
            }

            a {
                color: #efdcd8;
                font-weight: 600;
            }

            h4 {
                font-size: 2.5rem;
                text-align: right;
                bottom: 1rem;
            }
        }

    .school {
        border: 1px solid black;
        color: #676a51;
        display: flex;

    }

    .knowledge {
        border: 1px solid black;
    }

    .studies {
        border: 1px solid black;
        
    }

    .portfolio {
        border: 1px solid black;
        color:  #676a51;
        
    }
        h3 {
            margin: 1rem;
            
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3,1fr);
            width: 100%;
            height: 500px;
            gap: 5px;
            color: red;
            text-align: center;
        }
            .grid-item1 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item2 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item3 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item4 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item5 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item6 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item7 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item8 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

            .grid-item9 {
                border: 1px solid yellow;
                background-image: url(../img/gitH.jpg);
                background-size: contain;
            }

    .contact {
        border: 1px solid black;
        border: 1px solid black;
        background-color: #696969;
    }

    footer {
        border: 1px solid black;
        background-color: #696969;
    }
