/*
colors: #efdcd8 , #ed7564 , #d8d8d8 , #696969 , #b8bb99 , #676a51
fonts: bröd: ubuntu ; PT serif headlines
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}


body {
    font-family: 'PT Serif', serif;
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
    color: #d8d8d8;
    width: 100%;
    padding: 1rem;

    a {
        font-family:'raleway', sans-serif;
        color: #696969;
        cursor: pointer;
    }
    a:hover {
        color:#ed7564;
    }
}

    .nav-container {
        border: 1px solid black;
        width: 100%;
        left: 0;
        top: 0;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        position: fixed;
        z-index: 3;

        .navbar {
            margin-top: 20px;
        }

        ul li{
            display: inline-block;
            padding:10px;
        }

        ul li a {
            font-size:20px;
            }
    }

    .introduction {
        border: 1px solid black;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        h1 {
            font-size: 9rem;
            letter-spacing: 2px;
            position: relative;
            display: block;
            margin: 0 auto;
            text-shadow: 0 2px 5px black;                   
        }

            .text-line {
                display: inline;
                box-shadow: inset 0 -0.5em 0 rgb(103, 106, 81);
                border-bottom: 5px groove black;
            }

            .serif {
                font-family: 'PT Serif', serif;
                font-weight: 400;
                font-size: 5rem;
            }

        .jenny-text {
            border: 1px solid black;
            max-width: 50%;

            p {
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                color: #676A51;
                margin: 1rem 0;
            }
        }

        .jenny {
            border: 1px solid black;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            bottom: 9rem;

                img {
                    border: 1px solid black;
                }

                .arrow {
                    text-decoration: none;
                    border: 1px solid black;
                    font-size: 10rem;
                    font-weight: 900;
                    left: 2rem;
                    z-index: 2;
                    bottom: 1.5rem;
                    position: relative;

                        :hover {
                            bottom: 2rem;
                        }
                }
        }
    }
            
    .about {
        border: 1px solid black;
        padding: 4rem 2rem 2rem 2rem;
        border: 1px solid black;
        background-color: #676a51;
        height: 100vh;
        display: flex;
        flex-direction: column;

        h3 {
            font-family: 'PT Serif', serif;

            text-align: right;
            margin:0 0 1rem 0;
            font-size: 3rem;
            text-shadow: 0 2px 5px black;                   
            position: relative;
            display: block;
        }
        .text-line {
            display: inline;
            box-shadow: inset 0 -0.5em 0 rgb(237, 117, 100); 
            border-bottom: 5px groove black;
        }
            
        p {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 2rem;
        }

        a {
            color: #efdcd8;
            font-weight: 600;
        }

        img {
            display: block;
            margin-left: auto;
            right: 2rem;
            position: relative;
            bottom: 4rem;
        }
    }

    .school {
        padding: 4rem 2rem 2rem 2rem;
        border: 10px dashed #ed7564;
        color: #696969;
        margin: 2rem 0; 

        h3 {
            font-family: 'PT Serif', serif;
            margin:0 0 1rem 0;
            font-size: 3rem;
            text-shadow: 0 1px 1px black;                   
            position: relative;
            display: block;
        }

        .text-line {
            display: inline;
            box-shadow: inset 0 -0.5em 0 rgb(239, 220, 216); 
            border-bottom: 5px groove black;
        }

        .knowledge {
            border: 1px solid black;
        }
    
        .knowledge-container {
            margin: 1rem 0;
        }

        .bar {
            width: 100%;
            background-color: #ddd;
        }
          
        .skills {
            text-align: right;
            padding: 5px 5px 5px 0;
            color: whitesmoke;
            background-color: #676a51;
            margin-bottom: 1rem;
        }
          
        .html {
            width: 75%;
        }

        .css {
            width: 60%;
        }

        .js {
            width: 30%;
        }

        .adobe {
            width: 80%;
        }

        .figma {
            width: 60%;
        }
    
        .studies {
            border: 1px solid black;
            text-align: right;

                ul {
                    list-style-position: inside;
                    list-style-type: square;
                    margin: 1rem 0;

                    li {
                        margin-bottom: 1rem;
                    }
                }
        }
    }

    .portfolio {
        border: 1px solid black;
        color:  #ed7564;
        background-color: #b8bb99;
        padding: 2rem 0;
   

        
        h3 {
            font-family: 'PT Serif', serif;
            text-align: right;
            margin:0 0 1rem 2rem;
            font-size: 3rem;
            text-shadow: 0 2px 5px black;                   
            position: relative;
            display: block;
        }
        .text-line {
            display: inline;
            box-shadow: inset 0 -0.5em 0 rgb(216, 216, 216);
            border-bottom: 5px groove black;
        }

        .grid-container {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: repeat(4,1fr);
            width: 100%;
            height: 800px;
            gap: 1rem;
            color: red;
            text-align: center;
        }
            .grid-item1 {
                background-image: url(../img/portfolio_gh.jpg);
                background-size: contain;
                background-position: center;
                
            }

            .grid-item2 {
                background-image: url(../img/portfolio_gh.jpg);
                background-size: contain;
                background-position: center;
            }

            .grid-item3 {
                background-image: url(../img/portfolio_gh.jpg);
                background-size: contain;
                background-position: center;
            }

            .grid-item4 {
                background-image: url(../img/portfolio_gh.jpg);
                background-size: contain;
                background-position: center;
            }
    }
        

    .contact {
        border: 1px solid black;
        background-color: #696969;
        color: #efdcd8;

        a {
            color: #d8d8d8;
            font-weight: 600;
        }

        .contact-grid {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr; 
            grid-auto-rows: 1fr; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 0.5fr 0.75fr 1.25fr; 
            grid-template-areas:
            "grid-title grid-title"
            "grid-img grid-text"
            "grid-img grid-icons";
        }

        .grid-title {
            grid-area: grid-title; 
            font-family: 'PT Serif', serif;
            font-size: 3rem;
            text-shadow: 0 2px 5px black;                   
            padding: 0 0 0 2rem;

        }

        .grid-img {
            grid-area: grid-img;
            border: 1px solid black;
          
        }

        .grid-text {
            grid-area: grid-text;
            border: 1px solid black;
            margin-left: -3rem;
            padding-right: 2rem;
        }

        .grid-icons {
            grid-area: grid-icons;
            border: 1px solid black;
            display: grid;
            justify-items: center;
            font-size: 4rem;
            text-align: center;
            margin-left: -3rem;
            
        }

    }

    footer {
        border: 1px solid black;
        background-color: #696969;

        a{
            color:#b8bb99;
        }
    }
