body {
    background-image: url("../img/background_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2.5rem 15rem 0 15rem;
}

.school {
    background-image: none;
    background-color: #efdcd87a;
    display: flex;
    justify-content: space-between;
}

.studies, .knowledge {
    width: 50%;
    color: #454545;
}


.portfolio {

    background-color: #d8d8d8;
    color: #0a0a0a;
    font-weight: 900;

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    
        .grid-item1, .grid-item2, .grid-item3, .grid-item4{
            display: grid;
        justify-content: center;
        align-items: center;
    }
        }
}
