body {
    background-image: url("../img/background_tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    max-width: 75vw;
}
 
.nav-container {
   padding: 1rem 12rem;
}

.introduction {
    padding-top: 4rem;

    h1 {
        margin: 0;
        max-width: 50%;
        font-size: 8rem;
        }
}

.school {
    display: flex;
    justify-content: space-between;
}

.studies, .knowledge {
    width: 50%;
    color: #454545;
}


.portfolio {

    background-color: #d8d8d8;
    color: #0a0a0a;
    font-weight: 900;

    .grid-container {
        grid-template-columns: repeat(4, 1fr);

        .grid.img {
            width: 450px;
        }
    
        .grid-item1, .grid-item2, .grid-item3, .grid-item4{
        display: grid;
        justify-content: center;
        align-items: center;
    }
        }
}

.contact-grid {
    min-height: 100vh;

}
