body {
    background-image: url(../img/header_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2.5rem 15rem 0 15rem;
}

.introduction {
    
}

.school {
    background-image: none;
    background-color: #efdcd872;
    display: flex;
    justify-content: space-between;
}

.experience, .knowledge {
    width: 50%;
}


.portfolio {

    background-color: #d8d8d8;

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
