

body {
    background-image: url("../img/background_tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    max-width: 75vw;
    
    p {
        font-size: 1.25rem;
        padding-top: 1rem;
    }
}

.nav-container {
    padding: 1rem 8rem;
 }

.introduction {
    padding-top: 2rem;
    

    h1 {
        margin: 0;
        max-width: 50%;
        }

    p {
    padding-top: 1rem;
    padding-left: 1rem;
    }
    
    .arrow {
        font-size: 5rem;
    }

}

.about {
    p {
    font-size: 1.25rem;
    padding-top: 1rem;
    }
}

.school {
    background-color: whitesmoke;
    p {
    font-size: 1.25rem;
    padding-top: 1rem;
    }

    .knowledge, .studies {
        padding: 0 1rem;
    }

}

.portfolio {
    background-color: rgba(245, 245, 245, 0.5);

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact-grid {
    min-height: 80vh;
}

footer .footer-icons {
    font-size: 1.25rem;
}