
body {
    background-color: #b8bb99;
    padding: 2.5rem;
    
    p {
        font-size: 1.25rem;
        padding-top: 1rem;
    }
}

.introduction {
    padding-top: 2rem;

    h1 {
        margin: 0;
        }

    p {
    padding-top: 1rem;
    padding-left: 1rem;
    }

    img {
        bottom: 5;
    }
    
    .arrow {
        font-size: 5rem;
    }

    
}

.about {
    p {
    font-size: 1.25rem;
    padding-top: 1rem;
    }
}

.school {
    background-image: url(../img/header_background.jpg);
    p {
    font-size: 1.25rem;
    padding-top: 1rem;
    }
}

.portfolio {
    background-color: #efdcd8;

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact {
    .grid-icons { /*fixa row med grid!*/
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

footer {
    a{
        color:#efdcd8;
    }
}