

body {
    background-color: #b8bb99;
    margin: auto;
    max-width: 76vw;
    
    p {
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-left: 1rem;

    }
}

.introduction {
    padding-top: 2rem;
    background-image: url("../img/background_tablet.jpg");

    h1 {
        margin: 0;
        min-width: 100%;
        }

    p {
    padding-top: 1rem;
    padding-left: 1rem;
    }

    img {
        bottom: 5;
    }
    
    .arrow {
        font-size: 5rem;
    }

}

.about {
    p {
    font-size: 1.25rem;
    padding-top: 1rem;
    }
}

.school {
    background-color: whitesmoke;
    p {
    font-size: 1.25rem;
    padding-top: 1rem;

    }

    .knowledge, .studies {
        padding: 0 1rem;
    }

}

.portfolio {
    background-color: rgba(245, 245, 245, 0.5);

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact {
    .grid-icons { /*fixa row med grid!*/
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

footer {
    a{
        color:#efdcd8;
    }
}